* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Inter', sans-serif;
    /* scroll-behavior: smooth; */
    /* Hành vi khi cuộn */
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Header */
.ds-header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #fff;
    padding: 70px 0;
    /* transition: padding 0.3s, box-shadow 0.3s; */
}

/* .ds-header.ds-fixed-header {
    padding: 20px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
} */

.container {
    width: 90%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.ds-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ds-logo {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.ds-logo span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-right: 12px;
}

.ds-social {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ds-social li:first-child {
    margin-left: 0;
}

.ds-social li {
    margin-left: 12px;
}

.ds-social li a {
    border-radius: 100%;
    width: 24px;
    height: 24px;
    background-color: #F26464;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
}


.ds-social li a:hover {
    background-color: #000;
    cursor: pointer;
}

/* Banner */
.ds-banner {
    margin-top: 180px;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.row>div {
    flex: 1;
    /* Chia đều không gian giữa hai div con */
    max-width: 50%;
    /* Đảm bảo mỗi div chiếm 50% chiều rộng của row */
}

figure {
    margin: 0;
}

figure img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

.ds-banner section {
    padding-left: 70px;
    padding-right: 100px;
}

.ds-banner section h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #000;
    margin-top: 0;
}

.ds-banner section h1 span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 30px;
}

.ds-numbervalulist {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.ds-numbervalulist li {
    margin-right: 60px;
}

.ds-numbervalulist strong {
    display: block;
    color: #F26464;
    font-size: 36px;
    font-weight: 800;
}

.ds-numbervalulist span {
    font-size: 16px;
    letter-spacing: 1px;
}

/* about */
.ds-about-section {
    padding-top: 60px;
    padding-bottom: 120px;
}

.ds-heading {
    display: inline-block;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid #F26464;
    padding-bottom: 7px;
    margin-bottom: 23px;
}

.ds-about-section p {
    color: #373737;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 60px;
    font-family: 'Inter', sans-serif;
}

.text-center {
    text-align: center !important;
}

.ds-button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #F26464;
    padding: 17px 30px;
    border: 2px solid #F26464;
    border-radius: 60px;
    text-decoration: none;
}

.ds-button:hover {
    color: #FFF;
    background-color: #F26464;
    cursor: pointer;
}


/* Skills */
.ds-skills-section {
    padding-bottom: 105px;
}

.ds-skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 11px;
}

.ds-skills-list li {
    display: inline-block;
    color: #373737;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #FFF;
    border: 1px solid #D7D7D7;
    border-radius: 27px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}

/* Experience */
.ds-experience-section {
    padding-bottom: 120px;
}

.ds-experience-list {
    padding-top: 15px;
}

.ds-experience-list section {
    padding-right: 70px;
}

span.ds-year {
    color: #373737;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}

.ds-experience-list span {
    display: block;
}

.ds-officename {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}

span.ds-department {
    color: #373737;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 30px;
}

.ds-experience-list p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    /* margin-top: 0;
    margin-bottom: 1rem; */
}

.ds-experience-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.ds-experience-list ul li {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    padding-left: 28px;
    margin-bottom: 20px;
    position: relative;
}

.ds-experience-list ul li::before {
    position: absolute;
    content: "";
    left: 0;
    top: 10px;
    border-radius: 100%;
    background-color: #373737;
    width: 8px;
    height: 8px;
}

/* Work */
.ds-work-section {
    padding-bottom: 80px;
}

.ds-work-list {
    padding: 40px 70px 0 70px;
    background-color: #F6F8FA;
    margin-bottom: 40px;
}

.ds-work-list section {
    padding-top: 20px;
    padding-right: 120px;
}

.ds-work-title {
    color: #000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.ds-work-list p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.ds-work-list .ds-button {
    margin-top: 20px;
}

/* Footer */

.ds-footer {
    background-color: #000;
    padding: 120px 0;
}

.ds-footer section {
    padding-bottom: 97px;
}

.ds-footer section span {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 20px;
}

.ds-footer section h4 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 8px;
}

.ds-footer section p {
    letter-spacing: 1.13px;
    color: #FFF;
    font-size: 18px;
    margin-bottom: 40px;
}

.ds-copyright {
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
    font-size: 16px;
}

.ds-copyright a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.ds-copyright a:hover {
    color: #F26464;
}